<head>
  <title>Bootstrap Example</title>

</head>


<body>
  <div class="container"> 
    <%= form_tag("/users", method: "post") do %>
      <%= label_tag(:q, "user:") %>
      <%= text_field_tag 'name' %>
      <%= label_tag(:q, "password:") %>
      <%= password_field_tag 'pass' %>
      <%= submit_tag("Log In") %>
    <% end %>
  <div>
</body>  


